# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# OS / Editor
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Alembic
alembic/versions/__pycache__/
storage/
scripts/

# Python
__pycache__/
*.pyc
